.navbar-top {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.with-fixed-top {
  padding-top: 55px;
}

.with-fixed-bottom{
  padding-bottom: 55px;
}

.cursor-pointer{
  cursor: pointer;
}

.avatar-navbar{
  width: 20px;
  height: 20px;
}

.avatar-list{
  width: 50px;
  height: 50px;
}

.nav-underline .nav-link.active{
  border-bottom: solid;
}